/* animate card  */
.animatecard {
  transform: rotateX(var(--rX)) rotateY(var(--rY));
  transition: 0.2s;
  --rX: 0deg;
  --rY: 0deg;
  --bX: 50%;
  --bY: 80%;
}

/* border radius */
.custom-shape {
  border-radius: 33% 66% 70% 30% / 49% 62% 38% 51%;
}